<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment>
        <meta charset="UTF-8">
        <title>Agregar Noticias</title>
    </head>

    <body>
        <form th:action="@{/noticia/registro/}" method="POST">
            <div>
                <label th:for="titulo">
                    Titulo
                    <input type="text" name="titulo" placeholder="Titulo" />
                </label>
                <label th:for="cuerpo">
                    Cuerpo
                    <input type="text" name="cuerpo" placeholder="Cuerpo" />
                </label>
                <button type="submit">Enviar Formulario</button>
            </div>
        </form>
    </body>

</html>