<!DOCTYPE html>
<html lang="es">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/index.css">
        
        <title>Página de incio</title>
    </head>
    <body>
        <div>!! ESTAMOS EN EL INDEX !!</div>
        <h1>Bienvenido a mi página en español</h1>
        <p>Esta página web es de la biblioteca donde podemos diferentes tipos de libros.</p>
    </body>
</html>
