<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Inicio')}">

    </head>
    <body>
        <!--div del menú de navegación-->
        <div th:replace="~{fragmentos/navegacion::navegacion-seccion}"/>


        <!--div para desplegar la tabla-->
        <div class="container">
            <div class="container text-center" style="margin:30px">
                <h3>Sistema de noticias</h3>
            </div>
            <div class="container">
                <table class="table table-striped table-hover align-middle table-bordered">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Cuerpo</th>
                            <th scope="col"></th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr th:each="noticia: ${noticias}"> <!--iterar los reglones-->
                            <th th:text="${noticia.id}" scope="row"></th> <!--acceder valores de BD-->
                            <td th:text="${noticia.titulo}"></td>
                            <td th:text="${noticia.cuerpo}" class="text-justify"></td>

                            <td class="text-center">
                                <div class="container">
                                    <a th:href="@{/editar/{id}(id=${noticia.id})}"
                                       class="btn btn-warning btn-sm d-block me-4">Editar</a>
                                    <!--<a th:href="@{/eliminar/{id}(id=${noticia.id})}"
                                       class="btn btn-danger btn-sm d-block mt-2">Eliminar</a>-->
                                    <a th:href="@{/darBaja/{id}(id=${noticia.id})}"
                                       class="btn btn-danger btn-sm d-block mt-2">Dar Baja</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!--div del pie de página-->
        <div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"/> <!--incluir la ruta del fragmento a agregar-->
    </body>
</html>